:root{
    --primary: #1f2e88 ;
    --fros-blue-color: #0050d5;
    --secondary: #2f66d4 ;
    --hover: #a2d9f5;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --border:.2rem solid rgba(0,0,0,0.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);
    --transition: all 0.3s ease-in-out;
    --dark-gray: #a1a1a0;
    --light-blue-color: #16c5ff
}

*{

    margin:0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;

    outline: none;
    border: none;
    transition: 0.2s linear;
}

html{
    font-size: 62.2%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
}

/* global classes */

section{
    padding: 5rem 7%;
}

.heading{
    font-size: 4rem;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: .5rem;
    background: #42aaff;
    font-size: 1.7rem;
    color: var(--white);
    cursor: pointer;
}

.btn:hover{
    background: white;
}




.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 20px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 10px 0;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
    height: 24px;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navigation-wrap{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar{
    padding: 0;
}
.navbar-brand img{
    height: 28px;
    width: auto;
    display: block;

    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}
.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before{
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
    top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}
.nav-link{
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
    color: #8167a9 !important;
}
.nav-item.active .nav-link{
    color: #777 !important;
}
.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}
.nav-item:after{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #8167a9;
    opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
    bottom: 0;
    opacity: 1;
}
.nav-item.active:hover:after{
    opacity: 0;
}
.nav-item{
    position: relative;
    transition: all 200ms linear;
}

/* #Primary style
================================================== */

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    display: block;
    padding: 0;
    margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
    max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
    padding: 10px!important;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    padding: 3px 15px;
    color: #212121;
    border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    background-color: rgba(129,103,169,.6);
}




.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/cover.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
    padding-top: 10rem;
    padding-left: 6rem;
    /*rtl*/
}

.home .content h3{
    font-size: 4rem;
    color: var(--black);
    line-height: 1.2;
}

.home .content p{
    line-height: 2;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}
/* about us */

.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.grid{
    display: grid;
}
.con{
    font-size: 1.6rem;
    max-width: 95vw;
    margin: 0 auto;
    padding: 0 1rem;

}

.section-head h2{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 3rem;
    text-align: center;
}
.border-line{
    height: .4rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    /*background-color: var(--light-gray);*/
    position: relative;
}
.border-line::after{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 100%;
    width: 102px;
    background-color: var(--light-blue-color);
}
.about-left{
    margin-bottom: 6rem;
}
.about-right{
    margin-top: 16.8rem;
}
img{
    width: 100%;
    display: block;
}
.about-left .text{
    margin: 5.6rem 0;
    line-height: 2.3;
}
.about .btn-white{
    /*color: var(--dark-gray);*/
}
.about-right .img{
    width: 100%;
    background-color: #3983fe;
    max-width: 537px;
    position: relative;
}
.about-right .img img{
    padding-top: 10rem;
    -webkit-transform: scaleX(1.03);
    -ms-transform: scaleX(1.03);
    transform: scaleX(1.03);
}
.about-right .img::after, .about-right .img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.about-right .img::after{
    top: -56px;
    left: 0;
    background-color: #0060ff;
    z-index: -1;
}
.about-right .img::before{
    top: -112px;
    left: 0;
    background-color: var(--fros-blue-color);
    z-index: -2;
}
/* end about */

.book{
    background-color: #eee;
}
.book .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}
.book .row form{
    flex: 1 1 45rem;
    background: #fff;
    border:var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius:.5rem ;

}

.book .row form h3{
    padding-bottom: 1rem;
    font-size: 3rem;
}

.book .row form .box{
    width: 100%;
    margin: .7rem 0;
    border-radius: .5rem;
    border: var(--border);
    font-size: 1.6rem;
    text-transform: none;
    padding: 1rem;
}

/*package services*/



.bg-blue{
    background-color: var(--primary);
}
.bg-white{
    background-color: var(--white);
}
.text-blue{
    color: var(--primary);
}
.text-white{
    color: var(--white);
}

.text{
    opacity: 0.9;

}
.text-md{
    font-size: 1.5rem;
}
.text-lg{
    font-size: 2rem;
    font-weight: 500;
}
.text-sm{
    font-size: 1.3rem;
}
.py{
    padding: 10.9rem 0;
}
.text-center{
    text-align: center;
}
.package-service-inner{
    margin-top: 14rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 10px;
}
.package-service{

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 80, 213, 0.85)), to(rgba(0, 80, 213, 0.95))), url('https://img.razrisyika.ru/kart/123/1200/491844-simba-korol-lev-13.jpg') center/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 80, 213, 0.85), rgba(0, 80, 213, 0.95)), url('https://img.razrisyika.ru/kart/123/1200/491844-simba-korol-lev-13.jpg') center/cover no-repeat;
    background: linear-gradient(rgba(0, 80, 213, 0.85), rgba(0, 80, 213, 0.95)), url('https://img.razrisyika.ru/kart/123/1200/491844-simba-korol-lev-13.jpg') center/cover no-repeat;
}
.package-service-head{
    color: var(--white);
}
.package-service-head h2{
    font-size: 39px;
}
.package-service-item{
    padding: 3rem 5rem;
    position: relative;
    margin-bottom: 12rem;
}
.package-service-item:last-child{
    margin-bottom: 0;
}
.package-service-item .icon{
    width: 86px;
    height: 86px;
    background-color: var(--light-blue-color);
    border-radius: 2rem;
    border-bottom-right-radius: 0;
    color: var(--white);
    position: absolute;
    top: -43px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}
.package-service-item .icon i{
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.package-service-item h3{
    font-size: 1.6rem;
    opacity: 0.7;
    margin: 8rem 0 4rem 0;
}
.package-service-item .text-sm{
    color: var(--dark-gray);
}
.package-service-item .btn{
    margin: 4rem 0;
    padding: .9rem 4rem;
    border-radius: 3rem;
    display: inline-block;
    /*background-color: var(--white);*/
    font-weight: 500;
    -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.btn-blue{
    background-color: var(--fros-blue-color);
    color: var(--white);
}

.package-service-item .btn:hover{
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}



.main-about{
    padding: 2rem 7%;
    width: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.main-about .about-heading{

    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    width: 200px;
    margin: 0 auto;
    padding: 2rem 0;

}
.inner-main-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}

.about-inner-content-left{
    flex: 1 1 40rem;
}
.about-inner-content-left img{
    width: 90%;
    padding: 2rem;
}
.about-inner-content{
    flex: 1 1 45rem;
}
.about-inner-content img{
    width: 100%;
}
.about-right-content h2{
    font-size: 30px;
    padding: 1.5rem 0;
    color: black;
    font-weight: bolder;
    line-height: 4rem;
}
.about-right-content p{
    font-size: 1.5rem;
    padding: 1.5rem 0;

    font-family: "Inter", sans-serif;
    text-align: left;
    line-height: 2.5rem;
}
.aboutsec-content{
    line-height: 2.5rem !important;
}
.aboutbtn{
    padding: 1.5rem 3rem;
    background-color: transparent;

    margin-top: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.5s all;
}
.aboutbtn:hover{

    color: white;
    border:none;
    padding: 1.5rem 3.5rem;
}


.footer{
    background-color: #ece9e9;
    background-size: cover;
    background-position: center;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box h3{
    color:black;
    font-size: 2.5rem;
    padding-bottom: 2rem;
    text-transform:none;
}

.footer .box-container .box a{
    color: black;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
    text-transform: none;
}

.footer .box-container .box a i{
    color:#42aaff;
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

@media (max-width:768px){
    section{
        padding: 2rem;
    }
    .home .content h3{
        font-size: 3rem;
    }
    html{
        font-size: 55%;
    }
    .about .content{
        justify-content: center;
        width: 50%;

    }
    .about .content h3{
        font-size: 1px;
    }
    h1{
        font-size: 38px;
    }
    .nav-item:after{
        display: none;
    }
    .nav-item::before {
        position: absolute;
        display: block;
        top: 15px;
        left: 0;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
    }
    .dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 10px;
        left: -23px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"]::after{
        transform: rotate(90deg);
        opacity: 0;
    }
    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }


}




@media(min-width: 768px){

    .package-service-inner{
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 6rem;
        -moz-column-gap: 6rem;
        column-gap: 6rem;
    }

}


@media(min-width: 992px){

    .package-service-inner{
        grid-template-columns: repeat(3, 1fr);
    }
    .package-service-item{
        margin-bottom: 0;
    }
    .about-inner .con{
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 3rem;
        -moz-column-gap: 3rem;
        column-gap: 3rem;
    }
    .about-left{
        text-align: left;
        margin-bottom: 0;
    }
    .about-left .section-head h2{
        text-align: left;
    }
    .border-line{
        margin-left: 0;
    }
    .border-line::after{
        left: 0;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .about-right{
        margin-left: auto;
        margin-top: 11.2rem;
    }
}



@media(min-width: 1480px){
    /* general */
    .con{
        max-width: 81vw;
    }
}

/* transition and animation stopper */
.resize-animation-stopper *{
    -webkit-animation: none!important;
    animation: none!important;
    -webkit-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
}







